@tailwind base;
@tailwind components;
@tailwind utilities;


.App-style {
  background-color: #10002b;
  color: white;
}

.App-subtitle {
  background-color: #10002b;
  color: white;
  padding-left: 10px;
}

.App-Header-text {
  color: white;
}


.App-main {
  display: flex;
  height: 80vh;
  flex-direction: row;
  align-content: flex-start;
}

.item-container {
  border:2px solid black;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  margin-top: 2%;
  padding: 2%;  
}

.item-container:hover {
  border:2px solid black;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  margin-top: 2%;
  padding: 2%;  
  background-color: aqua;
}

.item-container-text {
  color: black;
  display: flex;
  align-items: center;
}

.exercise-container-main {
 justify-content: space-around;;
} 

.exercise-container {
  border:2px solid black;
  border-radius: 10px;
  margin-left: 20%;
  width: 200px;
  height: 100px;
  margin: 5%;
}



